<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligue 1 Scores</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="background-image:url('static/required/background.png');background-repeat: no-repeat;background-size: cover">

    <div class="container">
        <header>
            <h1>Live Scores</h1>
        </header>

        <section id="scores-container">

        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
